[submodule "chrome-devtools-solarized"]
	path = chrome-devtools-solarized
	url = https://github.com/Calvein/solarized-dark-skin-chrome-devtools.git
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/seebi/dircolors-solarized
