[submodule "chrome-devtools-solarized"]
	path = chrome-devtools-solarized
	url = https://github.com/Calvein/solarized-dark-skin-chrome-devtools.git
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/seebi/dircolors-solarized
[submodule "vim"]
	path = vim
	url = https://github.com/altercation/vim-colors-solarized.git
